:root {
    --header-background-color: #FFFFFF;
    --dark--background-color: #2F303A;
    --main-bacround-color: #E5E5E5;
    --sec-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --dark-color: #212121;
    --main-color: #757575;
    --sec-color: rgba(255, 255, 255, 0.6);
    --title-color: #FFFFFF;
    --line-color-header: #ECECEC;
}

body {
    background-color: #FFFFFF;
    color: #757575;
    font-family: Roboto;
    padding-top: 70px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* header styles */


/* Оформление линок в header */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--header-background-color);
    padding: 20px 0 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}

.header-nav {
    display: flex;
    align-items: center;
}

.item-link {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--dark-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    font-family: Raleway;
    font-weight: bold;
    line-height: 1.19;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.style-logo {
    color: var(--accent-color);
}

.site-nav {
    color: var(--dark-color);
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding: 0px 50px 0px 0px;
    margin: 0px;
    display: flex;
}

.list-header {
    padding-left: 93px;
    margin: 0px;
    align-items: center;
    display: flex;
}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}

.links-style {
    display: flex;
    margin: auto;
}

.header-link {
    margin: 0px 50px 0px 0px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}


/* Стилизация горизонтальной линии в портфолио */

.line-header {
    border: 1px solid var(--line-color-header);
    margin: 0px;
}


/* Заголовок и кнопка */

.section-title {
    background-color: var(--dark--background-color);
    background-image: url('../images/team.jpg');
    background-size: cover;
    padding: 200px 0px 200px 0px;
    text-align: center;
}

.title {
    color: var(--title-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0px;
}

.button {
    background-color: var(--accent-color);
    color: var(--title-color);
    font-family: Roboto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    border-style: none;
    margin: 30px 250px;
}


/* Оформление списков секции. Фото и текст  */

.block-item {
    background-color: var(--header-background-color);
    padding-top: 94px;
}

.text-info {
    padding: 0px 30px 0px 0px;
}

.list-section {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border-style: none;
}

.work-images {
    display: flex;
    margin: 0px;
    justify-content: center;
    padding: 0px;
}


/* Добавлены позицыонированные элементы к фото */

.position-add {
    position: relative;
    overflow: hidden;
}

.position-add .desing-text {
    background: rgba(47, 48, 58, 0.8);
    bottom: 3px;
    width: 370px;
    padding: 27px 0px;
    position: absolute;
}

.label {
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0px;
    color: var(--title-color);
    text-transform: uppercase;
    text-align: center;
}

.images-dev {
    padding: 0px 30px 0px 0px;
}

.subtitle-list {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
    margin: 0px;
}

.subtitle-text {
    letter-spacing: 0.03em;
    font-size: 15px;
    line-height: 1.71;
    color: var(--main-color);
    margin: 0px;
    padding-top: 22px;
}

.company-dev {
    padding: 94px 0px 94px 0px;
}


/* Оформление секции с командой */

.our-team {
    background-color: var(--main-bacround-color);
    padding: 94px 0px 94px 0px;
}

.subtitle {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin: 0px;
    padding: 0px 0px 50px;
}

.team-subtitle {
    letter-spacing: 0.03em;
    color: var(--dark-color);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.18;
    margin: 0px;
    padding: 30px 0px 0px 0px;
    text-align: center;
}

.team-position {
    letter-spacing: 0.03em;
    font-size: 17px;
    line-height: 1.18;
    color: var(--main-color);
    margin: 0px;
    padding: 10px 0px 30px 0px;
    text-align: center;
}

.list-team {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.team-item {
    padding: 0px;
    margin: 0px 30px 0px 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--header-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.customers-sec {
    padding: 90px 0px 90px 0px;
    background-color: var(--header-background-color);
}

.customers-our {
    color: var(--dark-color);
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
}


/* Стилизация подвала */

footer {
    background-color: var(--dark--background-color);
    padding: 60px 0px 60px 0px;
    display: flex;
}

.logo-footer {
    color: var(--title-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    font-family: Raleway;
    font-weight: bold;
    display: inline-block;
    line-height: 1.19;
    padding: 0px;
}

.address {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.74;
    font-style: normal;
    color: var(--title-color);
    line-height: 1.19;
    padding: 20px 0px 0px 0px;
    margin: 0px;
    display: inline-block;
}

.footer-links {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.74;
    color: var(--sec-color);
    line-height: 1.19;
    padding: 9px 0px 0px 0px;
    display: inline-block;
}

.text-join {
    margin: 0px;
    padding: 12px 0px 0px 156px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--title-color);
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
}


/* svg styles */

.footer-icon {
    margin: 0px;
    padding: 0px;
    display: flex;
}


/* Стилизация секции "Портфолио"*/

.section-portfolio {
    background-color: var(--header-background-color);
    padding: 94px 0px 94px 0px;
}

.btn {
    font-family: Roboto;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    background-color: var(--sec-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.03em;
    border-style: none;
}

.portfolio-btn {
    margin: 0px;
    padding: 0px;
    justify-content: center;
    display: flex;
}

.list-btn {
    margin: 0px 8px 0px 0px;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--title-color)
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 50px 0px 0px 0px;
}

.list-item {
    margin: 0px 0px 30px 0px;
    padding: 0px;
    border: 1px solid var(--line-color-header);
}

.space-item {
    margin-right: 27px;
}

.list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.headlist {
    width: 370px;
    color: var(--dark-color);
    padding: 20px 0px 20px 24px;
}

.text-title {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    font-weight: 700;
}

.headline-text {
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}


/*  Оформление модального окна */

.modal {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--header-background-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}


/* 
.btn-close {
    position: absolute;
    margin-left: 50%;
} */